button {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.new-movie {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.new-movie__header {
  color: #003e1f;
}

.new-movie__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-movie__label {
  text-align: left;
  font-weight: bold;
  color: #003e1f;
  margin: 0.5rem 0;
}

.new-movie__input {
  margin-bottom: 1rem;
}

.new-movie__button {
  width: 10rem;
  align-self: center;
  margin: 1rem;
  background-color: #003e1f;
  color: white;
  font-weight: bold;
}

.next-word__container {
  display: flex;
  flex-wrap: wrap;
}

.next-word__button {
  margin: 0.5rem;
  background-color: #d5f2e3;
  &--punctuation {
    background-color: #dcdfe5;
    font-weight: bold;
  }

  &--delete {
    background-color: #ef233c;
    color: white;
    font-weight: bold;
  }
}
