.new-movie {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.new-movie__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-movie__label {
  text-align: left;
  font-weight: bold;
}

.new-movie__input {
  margin-bottom: 1rem;
}

.new-movie__button {
  width: 10rem;
  align-self: center;
  margin: 1rem;
}

.next-word__container {
  display: flex;
  flex-wrap: wrap;
}

.next-word__button {
  margin: 0.5rem;
  background-color: lightblue;
  padding: 0.5rem;
  border-radius: 5px;
  border-color: lightblue;

  &--punctuation {
    background-color: lightgreen;
  }
}
